In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [69]:
#load train data
train_data = ('/content/drive/My Drive/data/train_online.txt')
df = pd.read_csv(train_data, header = None)

df=pd.DataFrame(df)
print(df)

      0    1  2
0   1.0  1.0  0
1   5.0  4.0  0
2   1.1  1.1  0
3   2.1  1.0  0
4   3.0  2.0  0
5   5.0  1.0  0
6   0.0  0.0  1
7  -1.0 -1.0  1
8  -2.0 -2.0  1
9  -2.5 -1.0  1
10 -3.0 -4.0  1
11 -5.0 -7.0  1

In [70]:
#droping column 2
df1=pd.DataFrame(df.iloc[1:,0:2])
print(df1)

      0    1
1   5.0  4.0
2   1.1  1.1
3   2.1  1.0
4   3.0  2.0
5   5.0  1.0
6   0.0  0.0
7  -1.0 -1.0
8  -2.0 -2.0
9  -2.5 -1.0
10 -3.0 -4.0
11 -5.0 -7.0

In [71]:
#data normalization
y=lambda x:((x-x.mean())/x.std())
y=y(df1)

In [72]:
print(y)

           0         1
1   1.438743  1.503414
2   0.258589  0.542314
3   0.561192  0.509172
4   0.833536  0.840586
5   1.438743  0.509172
6  -0.074275  0.177758
7  -0.376879 -0.153656
8  -0.679483 -0.485070
9  -0.830785 -0.153656
10 -0.982087 -1.147898
11 -1.587294 -2.142140

In [74]:
#load test data'
test_data = ('/content/drive/My Drive/data/text_online.txt')
testX = pd.read_csv(test_data, header = None)
testX = np.array(testX)
testX

array([[ 2.5 ,  2.5 ],
       [-1.25, -1.25],
       [-0.7 , -0.5 ]])

In [75]:
#slicing technique
c1=df.iloc[0:6,0:2]
c2=df.iloc[6:,0:2]
c1=pd.DataFrame(c1)
c2=pd.DataFrame(c2)
print(c1)
print(c2)

     0    1
0  1.0  1.0
1  5.0  4.0
2  1.1  1.1
3  2.1  1.0
4  3.0  2.0
5  5.0  1.0
      0    1
6   0.0  0.0
7  -1.0 -1.0
8  -2.0 -2.0
9  -2.5 -1.0
10 -3.0 -4.0
11 -5.0 -7.0

In [77]:
#load the column 2 
df3=df.iloc[:,2:]
df3

    2
0   0
1   0
2   0
3   0
4   0
5   0
6   1
7   1
8   1
9   1
10  1
11  1

In [78]:
#condition to divide class 0 and class 1
l1=[]
l2=[]
df3=df3=df.iloc[:,2:]
i=0
for i in range (11):
  if(df3.iloc[i,0]==0):
    l1.append(df1.iloc[i])
  else:
    l2.append(df1.iloc[i])

l1=pd.DataFrame(l1)
l2=pd.DataFrame(l2)
print(l1)
print(l2)

     0    1
1  5.0  4.0
2  1.1  1.1
3  2.1  1.0
4  3.0  2.0
5  5.0  1.0
6  0.0  0.0
      0    1
7  -1.0 -1.0
8  -2.0 -2.0
9  -2.5 -1.0
10 -3.0 -4.0
11 -5.0 -7.0

In [79]:
#mean calculation
mean1=l1.mean()
mean2=l2.mean()
print(mean1)
print(mean2)

0    2.700000
1    1.516667
dtype: float64
0   -2.7
1   -3.0
dtype: float64

In [80]:
#covariance calculation
cov1=l1.cov()
cov2=l2.cov()
print(cov1)
print(cov2)

       0         1
0  4.176  1.948000
1  1.948  1.881667
     0    1
0  2.2  3.5
1  3.5  6.5

In [81]:
# declaring Normal Distribution Values
priorOmega1 = 0.5
meanClass1 = np.array(mean1)
varainceClass1 = np.array(cov1)
priorOmega2 = 0.5
meanClass2 = np.array(mean2)
varainceClass2 = np.array(cov2)

In [82]:
#The implementation of the Normal Distribution Formula
def normal(x, mean, variance):
  out = np.zeros((x.shape[0],))
  for i in range(x.shape[0]):
    _x = x[i, :]
    out[i,] = np.exp(- 0.5 * np.dot(_x - mean, np.dot(np.linalg.inv(variance), (_x - mean).T))) / (((2 * 3.14) ** x.shape[1]) * np.linalg.det(variance)) ** 0.5
  return out

In [84]:
#Generating value of both classes and for all provided points using Normal Distribution Formula
norm1 = normal(testX, meanClass1, varainceClass1) * priorOmega1
norm2 = normal(testX, meanClass2, varainceClass2) * priorOmega2

In [86]:
dataPoint = pd.DataFrame(columns = ['X1', 'X2', 'Probability Density Function', 'Size', 'Symbol', 'Color'])
symbol = []

norm1 = normal(testX, meanClass1, varainceClass1)
norm2 = normal(testX, meanClass2, varainceClass2)

for i in range(testX.shape[0]):
  print(testX[i, :], 'are in', end = ' ')
  if norm1[i] > norm2[i]:
    dataPoint.loc[len(dataPoint)] = [testX[i, 0], testX[i, 1], norm1[i], 0.5, 'Class 0', '#00bfff']
    print('Class 0')
    symbol.append('x')
  else:
    dataPoint.loc[len(dataPoint)] = [testX[i, 0], testX[i, 1], norm2[i], 0.5, 'Class 1', '#8fbc8f']
    print('Class 1')
    symbol.append('square')

[2.5 2.5] are in Class 0
[-1.25 -1.25] are in Class 1
[-0.7 -0.5] are in Class 1